<h1>This is the summarize route</h1>
<form>
  <div class="mb-3">
    <label for="bookTitle" class="form-label">Book Title</label>
    <input type="text" class="form-control" id="bookTitle">
  </div>
  <div class="input-group">
  <span class="input-group-text">Author: First and Last Name</span>
  <input type="text" aria-label="First Name" class="form-control">
  <input type="text" aria-label="Last Name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>